In [1]:
from vectorbtpro import *
from dune_client.client import DuneClient

In [2]:
vbt.PolygonData.set_custom_settings(
    client_config=dict(api_key="BcG8_2Yp4Wkrpw9Ox2_HyUlTuLZGZve_")
)
dune = DuneClient(api_key="hafQP5vPw8oF8qovHAiwbLTbxpdN95gW")

In [3]:
data = vbt.PolygonData.pull(
    "X:SOLUSD",
    start="2024-01-01",  
    end="2026-01-01",
    timeframe="1 day"
)
price_df = data.get()
price_df

/home/linux/env/vectorbt/lib/python3.12/site-packages/tzlocal/unix.py:207: UserWarning:

Can not find any timezone configuration, defaulting to UTC.

,Open,High,Low,Close,Volume,Trade count,VWAP
Open time,,,,,,,
2024-01-18 00:00:00+00:00,102.01,103.560,91.370,94.31,2.220528e+06,164198,97.0674
2024-01-19 00:00:00+00:00,94.33,95.600,87.000,93.60,2.306390e+06,142280,92.0992
2024-01-20 00:00:00+00:00,93.56,94.379,89.500,92.82,8.336834e+05,70367,92.3073
2024-01-21 00:00:00+00:00,92.82,94.093,90.700,91.02,6.455243e+05,54922,92.3444
2024-01-22 00:00:00+00:00,91.03,92.088,81.940,83.75,2.263540e+06,143796,86.4786
...,...,...,...,...,...,...,...
2025-12-27 00:00:00+00:00,122.18,125.000,121.780,124.62,5.248644e+05,124415,123.2853
2025-12-28 00:00:00+00:00,124.64,125.550,122.970,125.16,4.488344e+05,118070,124.1754
2025-12-29 00:00:00+00:00,125.17,130.050,122.190,123.10,1.814145e+06,278157,125.7558
2025-12-30 00:00:00+00:00,123.08,126.460,122.404,124.91,1.022354e+06,198351,124.2519
2025-12-31 00:00:00+00:00,124.86,127.300,123.070,124.45,1.665702e+06,271731,125.1178

In [4]:
query_result = dune.get_latest_result(3930956)
metrics_df = pd.DataFrame(query_result.result.rows)

In [5]:
metrics_df.set_index('time_period', inplace=True)
metrics_df.index = pd.to_datetime(metrics_df.index, utc=True)
metrics_df

,market_capitalization,mvrv,nupl,price,realized_capitalization,realized_price,supply
time_period,,,,,,,
2024-05-20 00:00:00+00:00,1.099678e+10,3.317605,0.698578,2.725992,3.314674e+09,0.821675,4.034046e+09
2024-06-08 00:00:00+00:00,1.114256e+10,3.220738,0.689512,2.756054,3.459630e+09,0.855721,4.042941e+09
2024-06-17 00:00:00+00:00,9.767525e+09,2.915660,0.657024,2.413806,3.350022e+09,0.827876,4.046524e+09
2024-06-19 00:00:00+00:00,8.390786e+09,2.590732,0.614009,2.072518,3.238770e+09,0.799974,4.048595e+09
2024-07-12 00:00:00+00:00,6.411416e+09,2.214915,0.548515,1.574349,2.894656e+09,0.710795,4.072422e+09
...,...,...,...,...,...,...,...
2025-10-23 00:00:00+00:00,2.190469e+09,1.032502,0.031479,0.511409,2.121516e+09,0.495310,4.283207e+09
2025-10-24 00:00:00+00:00,2.290026e+09,1.078537,0.072818,0.534646,2.123271e+09,0.495715,4.283253e+09
2025-12-10 00:00:00+00:00,1.766450e+09,0.881767,-0.134086,0.412239,2.003307e+09,0.467515,4.285013e+09
2025-12-16 00:00:00+00:00,1.591514e+09,0.808335,-0.237111,0.371428,1.968878e+09,0.459497,4.284856e+09
2025-12-18 00:00:00+00:00,1.501721e+09,0.765092,-0.307032,0.350467,1.962798e+09,0.458072,4.284914e+09

In [6]:
df1 = pd.concat((price_df, metrics_df), axis=1)
df1 = df1.dropna()

In [7]:
df1

,Open,High,Low,Close,Volume,Trade count,VWAP,market_capitalization,mvrv,nupl,price,realized_capitalization,realized_price,supply
2024-01-18 00:00:00+00:00,102.01,103.560,91.370,94.31,2.220528e+06,164198.0,97.0674,1.500935e+09,3.264372,0.693662,0.419766,4.597928e+08,0.128590,3.575649e+09
2024-01-19 00:00:00+00:00,94.33,95.600,87.000,93.60,2.306390e+06,142280.0,92.0992,1.329880e+09,2.857991,0.650104,0.371134,4.653199e+08,0.129858,3.583288e+09
2024-01-20 00:00:00+00:00,93.56,94.379,89.500,92.82,8.336834e+05,70367.0,92.3073,1.289804e+09,2.764410,0.638259,0.359189,4.665747e+08,0.129933,3.590880e+09
2024-01-21 00:00:00+00:00,92.82,94.093,90.700,91.02,6.455243e+05,54922.0,92.3444,1.168732e+09,2.514154,0.602252,0.324532,4.648608e+08,0.129082,3.601283e+09
2024-01-22 00:00:00+00:00,91.03,92.088,81.940,83.75,2.263540e+06,143796.0,86.4786,9.798170e+08,2.125475,0.529517,0.270718,4.609874e+08,0.127368,3.619332e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-12-27 00:00:00+00:00,122.18,125.000,121.780,124.62,5.248644e+05,124415.0,123.2853,1.348322e+09,0.691122,-0.446923,0.314648,1.950919e+09,0.455271,4.285178e+09
2025-12-28 00:00:00+00:00,124.64,125.550,122.970,125.16,4.488344e+05,118070.0,124.1754,1.356204e+09,0.693950,-0.441026,0.316487,1.954325e+09,0.456065,4.285186e+09
2025-12-29 00:00:00+00:00,125.17,130.050,122.190,123.10,1.814145e+06,278157.0,125.7558,1.291527e+09,0.663287,-0.507644,0.301393,1.947163e+09,0.454393,4.285193e+09
2025-12-30 00:00:00+00:00,123.08,126.460,122.404,124.91,1.022354e+06,198351.0,124.2519,1.231152e+09,0.633784,-0.577824,0.287302,1.942542e+09,0.453311,4.285227e+09
2025-12-31 00:00:00+00:00,124.86,127.300,123.070,124.45,1.665702e+06,271731.0,125.1178,1.171897e+09,0.606919,-0.647666,0.273473,1.930895e+09,0.450592,4.285244e+09

In [8]:
df1.to_csv("data/dataset.csv", index_label="timestamp")